{% extends 'core.html.twig' %}

{% block content %}
    <div class="login_form">
        <div class="head_form">
            <div class="logo_rg">
                <img src="/media/img/logo.svg" alt="Logo" class="logo">
            </div>
            <h2 class="span_login">Вход</h2>
        </div>
        {% if error is defined %}
            <div class="error_message">
                {{ error }}
            </div>
        {% endif %}
        <form action="/process_login" method="post">
            <div class="form_group">
                <input type="text" id="username" name="username" placeholder="Логин" required>
            </div>
            <div class="form_group">
                <input type="password" id="password" name="password" placeholder="Пароль" required>
            </div>
            <div class="form_group">
                <button type="submit">Войти</button>
            </div>
        </form>
        <a href="/register">РЕГИСТРАЦИЯ</a>
    </div>
{% endblock %}